*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #F1F1F1;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}

.grille-bat{
	height: auto;
	width: 100%;
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: auto 82vh repeat(7, auto);
	grid-gap: 16px;
	background: #F1F1F1;
}

.bat{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: black;
	padding: 10px 0px;
}

.ariane{
	justify-content: left;
	grid-column: 2 / 14;
}

.ariane p, .ariane a{
	color: #7C7B7B;
	font-size: 20px;
	margin-top: 10px;
	padding: 10px 5px 0px 5px;
	text-decoration: none;
}

.bat-photo{
	grid-column: 15 / -15;
	background-color: #666;
	background-image: url("../img/photo/CC_11.jpg");
	background-position: center 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.bat-titre{
	margin-top: 40px;
}

.bat-sub, .bat-description, .bat-titre{
	justify-content: left;
	grid-column: 2 / 14;
}

.bat-canvas{
	margin: 30px 0px;
	grid-column: 2 / 14;
	display: grid;
	grid-template-rows: auto auto;
}

.bat-canvas canvas{
	background-color: #666;
	margin-bottom: 20px;
}

.slide-arrow{
	display: inline-flex;
	margin: 0 auto;

}
.slide-arrow img{
	width: 26px;
	margin: 10px 50px;
}

.slide-arrow img:first-child{
	transform: rotate(180deg);
}