*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #F1F1F1;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}


.grille-recherche-page{
	height: auto;
	width: 100%;
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-gap: 16px;
	background: #F1F1F1;
}

.recherche-page{
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: black;
	padding: 10px 0px;
}

.ariane{
	justify-content: left;
	grid-column: 2 / 14;
}

.ariane p, .ariane a{
	color: #7C7B7B;
	font-size: 20px;
	margin-top: 10px;
	padding: 10px 5px 0px 5px;
	text-decoration: none;
}

.recherche_article{
	grid-column: 2 / 15;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto 700px;
}

.recherche_article h3{
	padding: 30px 0px 60px;
}

.recherche_article p{
	grid-column: 1 / 1;
	padding-right: 120px;
}

.article-photo{
	grid-column: 2 / 2;
	grid-row: 1 / 4;
	height: 350px;
	width: 100%;
	background-color: #666;

}

.article-photo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 0px;
}

.grille-recherche-page section{
	padding-bottom: 60px;
}